<div class="container">
  <form action="" [formGroup]="registrationForm">
    <fieldset>
      <legend>
        <h3>Reactive Registration Form</h3>
      </legend>
      <div class="from-group">
        <label for="">User name</label>
        <input formControlName="userName" type="text" class="form-control">
      </div>
      <div class="from-group">
        <label for="">Password</label>
        <input formControlName="password" type="password" class="form-control">
      </div>
      <div class="from-group">
        <label for="">Conferm Password</label>
        <input formControlName="confirmPassword" type="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">
        Register
      </button>
    </fieldset>
  </form>
</div>
{{registrationForm.value | json}}
<hr>