<div class="container">
  <form action="">
    <fieldset>
      <legend>
        <h3>Reactive Registration Form</h3>
      </legend>
      <div class="from-group">
        <label for="">User name</label>
        <input type="text" class="form-control">
      </div>
      <div class="from-group">
        <label for="">Password</label>
        <input type="password" class="form-control">
      </div>
      <div class="from-group">
        <label for="">Conferm Password</label>
        <input type="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">
        Register
      </button>
    </fieldset>
  </form>
</div>
<hr>