<div class="container">
  <form action="" [formGroup]="registrationForm">
    <fieldset>
      <legend>
        <h3>Reactive Registration Form</h3>
      </legend>
      <div class="from-group">
        <label for="">User name</label>
        <input formControlName="userName" type="text" class="form-control" [class.is-invalid]="userName.invalid && userName.touched">
       <!-- <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">Username is required</small> -->
       
       <div *ngIf="userName.invalid && userName.touched">
          <small class="text-danger" *ngIf="userName.errors?.required">Username is required</small>
          <small class="text-danger" *ngIf="userName.errors?.minlength">Username must be at least 3 characters</small>
          <small class="text-danger" *ngIf="userName.errors?.forbiddenNameVal">{{userName.errors?.forbiddenNameVal.value}}
            Username not Allow </small>

        </div>
      </div>
      <div class="from-group">
        <label for="">Password</label>
        <input formControlName="password" type="password" class="form-control">
      </div>
      <div class="from-group">
        <label for="">Conferm Password</label>
        <input type="password" [class.is-invalid]="registrationForm.errors?.misMatch" formControlName="confirmPassword" class="form-control">
        <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">Passwords do not match</small>
      </div>
      <div formGroupName="address">
        <div class="form-group">
          <label>City</label>
          <input type="text" formControlName="city" class="form-control" name="city" ngModel>
        </div>
        <div class="form-group">
          <label>State</label>
          <input type="text" formControlName="state" class="form-control" name="state" ngModel>
        </div>
        <div class="form-group">
          <label>Postal Code</label>
          <input type="text" formControlName="postalCode" class="form-control" name="postalcode" ngModel>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        Register
      </button>
      <button (click)="loadAPIData()" class="btn btn-secondary ml-2" type="button">Load API Data</button>
    </fieldset>
  </form>
</div>
{{registrationForm.value | json}}
<hr>