<!-- <div class="container">
  <nav class="">
      <li class="nav-item">
    <a routerLink="/react" routerLinkActive="active">Reactive</a>
    </li>
  </nav>
  <router-outlet></router-outlet>
  </div> -->


<!-- <div class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
              <a routerLink="/TDF" routerLinkActive="active">TDF</a>
            </li>
            <li>
              <a routerLink="/react" routerLinkActive="active">Reactive</a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div> -->
<div class="container">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="../assets/bird.jpg" alt="logo" style="width:40px;">
    </a>

    <!-- Links -->
    <ul class="navbar-nav">
       <!-- Include this Home menu item for the home route-->
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/TDF" >TDF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/react">Reactive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  routerLink="/create">Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/list">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" href="#">Link 3</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>